In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn import tree
dl=pd.read_csv("G:/My Drive/CT_PYTHON/SVK40/svmuaMT.csv")
#dl=pd.read_excel("G:/My Drive/CT_PYTHON/SVK40/svmuaMT.xlsx")
X=dl[['Tuoi','Thunhap','Sinhvien','DGTD']]
y=dl['MuaMT']

In [6]:
X

    Tuoi  Thunhap  Sinhvien  DGTD
0      0        1         1     1
1      0        1         1     2
2      1        1         1     1
3      2        3         1     1
4      2        2         2     1
5      2        2         2     2
6      1        2         2     2
7      0        3         1     1
8      0        2         2     1
9      2        3         2     1
10     0        3         2     2
11     1        3         1     2
12     1        1         2     1
13     2        3         1     2

In [4]:
MH=DecisionTreeClassifier()
MH.fit(X,y)
#print(MH.predict(X))
#print(MH.score(X,y))
text_repr = tree.export_text(MH)
print(text_repr)

|--- feature_1 <= 1.50
|   |--- feature_0 <= 0.50
|   |   |--- class: 2
|   |--- feature_0 >  0.50
|   |   |--- feature_2 <= 1.50
|   |   |   |--- class: 1
|   |   |--- feature_2 >  1.50
|   |   |   |--- class: 2
|--- feature_1 >  1.50
|   |--- feature_0 <= 1.50
|   |   |--- class: 1
|   |--- feature_0 >  1.50
|   |   |--- feature_3 <= 1.50
|   |   |   |--- class: 1
|   |   |--- feature_3 >  1.50
|   |   |   |--- class: 2

In [8]:
y1= MH.predict(X)
print(y1)
print(y)
print(MH.score(X,y))

[2 2 1 1 1 2 1 1 1 1 1 1 2 2]
0     2
1     2
2     1
3     1
4     1
5     2
6     1
7     1
8     1
9     1
10    1
11    1
12    2
13    2
Name: MuaMT, dtype: int64
1.0